@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

body {
    background-color: #272727;
    line-height: 1.5;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgb(255, 0, 255);
    text-shadow: 1px 1px #ea00ff60;
}

#content h2 {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #4b5163;
}

#main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* Same as justify / align */
    /* place-items: center; */
    justify-content: center;
    align-items: center;

    padding: 0 20px;
}

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(./cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0007;
}

#content {
    color: white;
    z-index: 1;
    text-align: center;
}

#click {
    display: inline-block;
    margin-top: 25px;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: #4b5163;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    transition: all .2s;
}

#click:hover {
    margin-top: 8px;
    font-size: 25px;
    border: 2px solid #ea00ff;
    padding: 14px 36px;
    background-color: #1a1a1a;
    color: rgb(255, 0, 255);
    box-shadow: 0px 0px 15px 1px #ea00ff, inset 0px 0px 8px 1px #ea00ff;
}

#about {
    padding: 50px;
    text-align: center;
}

#about p {
    font-size: 20px;
    max-width: 500px;
    margin: auto;
}

#about h2 {
    margin: 40px 0;
    color: white;
}

i {
    font-size: 48px;
    margin: 0 5px;
    color: white;
    transition-duration: .7s;
    
}

.fa-globe {
    position: relative;
    bottom: 4px;
    font-size: 40px;
}

i:hover {
    color: rgb(255, 0, 255);
}